<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>191658724848-tclah648uac91ia64eqej9ll3gk78u5l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.191658724848-tclah648uac91ia64eqej9ll3gk78u5l</string>
	<key>API_KEY</key>
	<string>AIzaSyA-3LHdnKQsbhVCwS8s_pdy7CTkbi7QyyA</string>
	<key>GCM_SENDER_ID</key>
	<string>191658724848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.coffee</string>
	<key>PROJECT_ID</key>
	<string>cyber-coffe-7c5fa</string>
	<key>STORAGE_BUCKET</key>
	<string>cyber-coffe-7c5fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191658724848:ios:52f258b00add5c02bc6135</string>
</dict>
</plist>